<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/app}">
      <!-- incluir platilla-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Usuarios</title>
</head>
<body>

    <main layout:fragment="content"> <!-- publica contenido desde el template -->
        <h1>
            Lista de Usuarios
            <a  class="btn btn-success" th:href="@{/users/create}">
                Nuevo Usuario
            </a>
        </h1>
        <ul>
                <li th:each="user, loop : ${users}" th:object="${user}"> <!-- se almacena el listado de usuarios en la variable user -->
                    <!--   para itirar los elementos de la lista "users" th:each="user : ${users}" th:object="${user}"
                    los guarda en la variable "user"
                    -->
                    <p>
                        Usuario n [[*{id}]] : <!-- se crea la bariable loop  para ver el recorrido de la lista-->
                    </p>

                    <p>
                        Nombre: [[*{name}]] <!-- dato de objeto -->
                    </p>
                    <p>
                        Email : [[*{email}]]
                    </p>
                    <a th:href="@{/users/{id}(id=*{id})}" class="btn btn-primary"> <!-- poso de ruta e id -->
                        ver
                    </a> 
                    <a th:href="@{/users/{id}/edit(id=*{id})}" class="btn btn-warning"> <!-- poso de ruta e id -->
                        Editar
                    </a>  

                </li>
                <li th:if="${users.size()==0}"> <!-- condicionales -->
                    No hay usuarios disponibles
                </li>
            </ul>
    </main>
</body>
</html>
    