<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/app}">
      <!-- incluir platilla-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Usuarios</title>
</head>
<body>

    <main layout:fragment="content"> <!-- publica contenido desde el template -->
        <div th:object="${user}">
            <h1>
                Detalle de Usuario
            </h1>
                    <p>
                        Usuario n [[*{id}]] : <!-- se crea la bariable loop  para ver el recorrido de la lista-->
                    </p>

                    <p>
                        Nombre: [[*{name}]] <!-- dato de objeto -->
                    </p>
                    <p>
                        Email : [[*{email}]]
                    </p>

                    <form // para eliminar se debe utilizar un formulario con el metodo delete
                    th:action="@{/users/{id}(id=${id})}" 
                    method="post" >
                    <input type="hidden" name="_method" value="delete"> <!-- peticiones de tipo put envia a controlador user--> 
                    <button class="btn btn-danger">Eliminar</button>
                </form>
                

        </div>
    </main>
</body>
</html>
    