<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/app}">
      <!-- incluir platilla-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Usuarios</title>
</head>
<body>

    <main layout:fragment="content"> <!-- publica contenido desde el template -->
        <h1>
            Detalle de Usuario
        </h1>

        <p>
            Usuario N [[${usersId}]]
        </p>
    </main>
</body>
</html>
    