<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1 th:text="'Hola Mundo ' + ${name}"></h1> -->
     <h1>
        Bienvenido a [[${name}]]! <!-- Otra forma -->
     </br>
     </h1>
     <div th:object="${user}">
            <p>
                Usuario:
            </p>

            <p>
                Nombre: [[*{name}]] <!-- dato de objeto -->
            </p>
            <p>
                Email : [[*{email}]]
            </p>
        </div>
</body>
</html>